.userWrapper {
    border: 1px solid rgb(243, 239, 239);
    width: 80%;   
    margin: 0 auto;
    display: flex;
}

.gridView {
    display: inline-block;
    width: 30%;
    margin: 10px;
    margin-left: 30px;
    border-bottom: 2px solid rgb(201, 201, 201);
}

.gridView img {
    width: 100%;
    border-radius: 0;
}

.gridView .info {
    z-index: 2;
    margin-top: -30px;
}

.listView {
    display: flex;
    width: 80%;
    margin: 10px;
    margin-left: 30px;
    border: 1px solid rgb(243, 239, 239);
    margin: 0 auto;
}

.listView img {
    height: 75px;
}

.listView .info {
    z-index: 0;
    margin-top: 5px;
}


